body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  padding: .6rem;
}

/***************** NAV ***************/

header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 1rem 2rem;
}

/***************** NAV ***************/

nav {
  background-color: #00b3b3;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
nav li {
  float: left;
  display: flex;
}

/***************** FOOTER ***************/

footer {
  background-color:  #00b3b3;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  color: white;
}
